@import url(./normalize.css);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

body, html {
	width: 100%;
	height: 100%;
	font-family: "Droid Sans", arial, verdana, sans-serif;
	font-weight: 700;
    font-size: 35px;
    line-height: 250px;
	color: rgb(255, 234, 50);
	background-color: #000;
	overflow: hidden;
}

.textcenter {
    text-align: center;
    margin-top: 110px;
}

.sabtext {
    margin-top: 90px;
}

#animations {
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(350px) rotateX(20deg);
}

#animations:after {
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

#animations-text {
    position: absolute;
	top: 100%;
	animation: scroll 30s linear 0s infinite;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}
